body {
    background-image: url("../images/silver.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(197, 137, 25);
    padding: 15px;
    width: 350px;
    color: white;

}

#directions {

}

h3{

}

#random-number {

}

#score {

}

.total {

}