body {
    background-image: url("../images/silver.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(197, 137, 25);
    padding: 15px;
    width: 255px;
    color: white;
}

#directions {
    background-color: bisque;
    width: 425px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 8px;
    padding-right: 8px;
    color: green;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#random-number {
    float: left;
    padding: 5px;
    background-color: lightgreen;
    width: 250px;
    height: 120px;
    color:navy;
}

#score {
    float: left;
    background-color: aqua;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:navy;
    width: 100px;
    height: 120px;
    margin-left: 30px;
}

#gems {
    clear: both   
}

#sapphire{
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#RedGem {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#Peridot{
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#Amethyst {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#total-title {
    clear: both;
    background-color: teal;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 250px;
    height: 20px;
    padding: 8px;
}